                                /*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
                            
                            html,
                            body {
                                margin: 0;
                                box-sizing: border-box;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                            /* .container {
    margin: 0 auto;
    padding: 0 2rem;
} */
                            
                            .clearfix {
                                clear: both;
                            }
                            /* create a responsive container */
                            
                            @media only screen and (min-width: 1200px) {
                                .container {
                                    width: 1170px;
                                }
                            }
                            
                            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                                .container {
                                    width: 970px;
                                }
                            }
                            
                            @media only screen and (min-width: 768px) and (max-width: 991px) {
                                .container {
                                    width: 750px;
                                }
                            }
                            /*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/
                            /*corrects IE min-height bug*/
                            
                            html {
                                display: flex;
                            }
                            
                            body {
                                width: 100%;
                            }
                            
                            .sfooter {
                                display: flex;
                                flex-direction: column;
                                min-height: 100vh;
                            }
                            
                            .sfooter-content {
                                flex: 1 0 auto;
                            }
                            /*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
                            
                            header {
                                color: #00ff01;
                                background-color: black;
                                height: 6rem;
                            }
                            
                            h1 {
                                font-size: 2.25rem;
                                display: inline-block;
                                margin-right: 1rem;
                                margin-left: 10rem;
                            }
                            
                            em {
                                font-size: 1.0rem;
                            }
                            
                            img[src="images/welcome.gif"] {
                                max-width: 40%;
                                max-height: auto;
                                margin-left: 30vw;
                                margin-top: 8 vh;
                            }
                            
                            .instructions-wrapper {
                                border: 4px solid black;
                                margin-left: 20vh;
                                margin-right: 20vh;
                                padding-top: 0px;
                                margin-top: 5vh;
                            }
                            
                            .instructions-content {
                                max-width: 45ch;
                                margin: 3vh;
                                font-size: 2.5vh;
                                display: inline-block;
                            }
                            
                            img[src="images/captain-janeway.png"] {
                                max-height: 10rem;
                                max-width: auto;
                                margin-left: 12vw;
                            }
                            
                            .about-me {
                                background-color: #0000ff;
                                font-size: 3vh;
                                color: white;
                                height: 55vh;
                            }
                            
                            img[src="images/stunning.jpg"] {
                                max-height: 40vh;
                                max-width: auto;
                                margin-left: 4vw;
                                margin-right: 3vw;
                                margin-top: 4vw;
                                float: left;
                                border: 2px solid white;
                            }
                            
                            .about-me .container h2 {
                                padding-top: 50px;
                                padding-bottom: 0px;
                                margin-bottom: 0px;
                            }
                            
                            p {
                                max-width: 70ch;
                                display: inline-block;
                                margin-top: 10px;
                            }
                            
                            span {
                                font-style: italic;
                                color: #e1e751;
                            }
                            
                            .container>h2:first-child {
                                text-align: right;
                                margin-right: 5vw;
                            }
                            
                            table {
                                color: #06f902;
                                background-color: #333333;
                                border-collapse: collapse;
                                margin-left: 5vw;
                                width: 100%;
                            }
                            
                            tr {
                                border: solid white;
                                border-width: 1px 0;
                            }
                            
                            td {
                                border-left: 1px solid white;
                                padding-right: 100px;
                            }
                            
                            th {
                                border-left: 1px solid white;
                                text-align: left;
                            }
                            
                            section:nth-of-type(4n) {
                                margin-right: 0px;
                                margin-top: 50px;
                                padding-top: 25px;
                                padding-bottom: 50px;
                                padding-right: 0px;
                                background-color: #333333;
                            }
                            
                            .form-wrapper {
                                background-color: #2b762a;
                                margin-left: 50px;
                                margin-right: 0;
                                margin-top: 40px;
                                margin-bottom: 0px;
                                overflow: hidden;
                                padding: 20px;
                                color: rgb(122, 198, 108);
                                width: 100%;
                                box-sizing: border-box;
                            }
                            
                            input,
                            label {
                                display: block;
                                padding-top: 10px;
                            }
                            
                            input {
                                width: 250px;
                                /* .form-wrapper {
    background-color: #006400;
                     width: 80%; 
    color: #166d14;
    width: 150%;
    border: 5px dashed blue;
    margin-left: 200px;
} */
                                button {
                                    background-color: #06f902;
                                }
                                footer {
                                    margin-top: 0px;
                                    background-color: black;
                                    color: #e7ecec;
                                    font-size: 1rem;
                                    text-align: center;
                                    height: 2.5rem;
                                    line-height: 2.5rem;
                                }
                                h4 {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }